/*Стили для навигации*/
.navigation {
  padding-top: 38px;
  margin-bottom: 72px;

  .navigation__wrap {
    display: flex;
    justify-content: space-between;

    .navigation__logo {
      @media screen and (max-width: $sm) {
        width: 75px;
      }
    }
  }

  .navigation__list {
    display: flex;
    align-items: center;
    grid-gap: 39px;
    @media screen and (max-width: $sm) {
      grid-gap: 16px;
    }

    .navigation__list-item {
      .navigation__list-item-link {
        font-weight: 500;
        color: var(--dark);
        text-decoration: none;
        font-size: 18px;
        display: block;
        @media screen and (max-width: $sm) {
          display: none;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.navigation__list-item-mobile-link-phone-button, .navigation__list-item-mobile-link-mail-button {
  display: none;
  @media screen and (max-width: $sm) {
    display: block;
  }
}

.navigation__list-item-mobile-link-phone-button, .navigation__list-item-mobile-link-mail-button {
  padding: 9px;
  border-radius: 7px;
  color: #219CBA;
  border: 1px solid #219CBA;
  transition: box-shadow 300ms, transform 100ms;

  &:active {
    transform: scale(0.95);
  }


}

.navigation__list-item-mobile-link-phone-button {
  background-color: #219CBA;

  &:hover {
    box-shadow: 0 0 10px 0 #219CBA;
  }

}


/*Конец стилей для навигации*/